// Colors
$primary-color: #ffc330;
$secondary-color: #fcd36e;
$shadowed-primary-color: #ffc430b5;
$gray-color: #d9d9d9;
$gray-text-color: #747474;
$second-gray-color: #a0a0a0;
$primary-btn-color: #ffb500;
$hint-text-color: #a0a0a0;

//Font
$primary-font: "Noto Sans";

//Size
$border-10: 10px;
