@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=optional);

body {
    @apply p-5 
    sm:pt-[30px] 
    sm:pb-[20px]
    sm:py-10;

    background-color: $primary-color;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    @apply mt-[82px]
    h-[calc(100vh-122px)]
     sm:h-[calc(100vh-132px)]
    overflow-y-scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.remove-mt {
    margin-top: 0px !important;
    @apply h-[calc(100vh-40px)]
    sm:h-[calc(100vh-50px)];
}

.dialog-wrapper {
    background-color: $shadowed-primary-color;

    @apply fixed
    top-0
    left-0
    right-0
    bottom-0
    z-40;
}

.title-box {
    background-color: white;

    @include shadowed-box();
    @include rounded();

    @apply mb-2
        rounded-[10px]
        py-2
        px-9;

    p {
        @apply text-base 
            font-semibold 
            mb-0
            font-sans;
    }
}

.rhap_container {
    background-color: $gray-color !important;
    border-radius: 20px;
    padding: 8px 10px !important;
}

.rhap_progress-bar-show-download {
    background-color: $second-gray-color !important;
}

.rhap_main-controls-button {
    color: $gray-color !important;
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;

    &:hover {
        color: $secondary-color !important;
    }
}

.rhap_button-clear {
    background-color: $second-gray-color !important;
    border-radius: 100%;
}

.rhap_volume-button {
    color: $gray-color !important;
    flex: 0 0 20px !important;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
}

.rhap_volume-bar {
    background-color: $second-gray-color !important;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 1px !important;
}

.rhap_time {
    font-size: 14px !important;
    font-weight: 200 !important;
}

.rhap_volume-container {
    flex: 0 1 80px !important;
}

.rhap_play-pause-button {
    font-size: 35px !important;
    width: 35px !important;
    height: 35px !important;
}
