@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=optional);

body {
    @apply p-5 
    sm:pt-[30px] 
    sm:pb-[20px] 
    sm:py-10;

    background-color: $primary-color;
}

main {
    height: calc(100vh - 135px);
}

.dialog-wrapper {
    background-color: $shadowed-primary-color;

    @apply fixed
    top-0
    left-0
    right-0
    bottom-0
    z-40;
}

.title-box {
    background-color: $gray-color;

    @include shadowed-box();
    @include rounded();

    @apply mb-2
        rounded-[10px]
        py-2
        px-9;

    p {
        @apply text-base 
            font-semibold 
            mb-0
            font-sans;
    }
}
