@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=optional);

body {
    @apply p-5 
    sm:pt-[30px] 
    sm:pb-[20px] 
    sm:py-10;

    background-color: $primary-color;
}
