@import "../../src/styles/styles";

.home-page-wrapper {
    // max-height: calc(100vh - 90px);

    @apply flex
    flex-col
    justify-end
    items-center
    max-w-[350px]
    mx-auto
    w-full
    h-full;
}

.input-container {
    @apply flex
    flex-col
    justify-end
    items-center
    w-full
    max-w-[350px]
    gap-y-[15px];
}

.property-field {
    @apply flex
    flex-row
    justify-between
    items-center
    px-5
    w-full;

    .category,
    .reminder {
        @apply flex
        flex-row
        justify-start
        items-center
        gap-x-2;

        svg {
            @apply h-[30px] cursor-pointer;
        }

        p {
            @apply text-sm sm:text-base 
            font-sans;
        }
    }
}

.textfield {
    background-color: $gray-color;

    @include shadowed-box();

    @apply flex
    w-full
    justify-start
    items-start
    rounded-[10px]
    h-[150px]
    px-5 py-[10px];

    input {
        @apply w-full
        placeholder:text-gray-400
        bg-transparent
        font-sans
        text-base
        font-light
        outline-none;
    }
}

.buttons-container {
    @apply flex
    flex-row
    justify-between
    items-center
    px-5
    w-full;

    svg {
        @apply h-[50px] 
        cursor-pointer;

        &:hover {
            g {
                fill: #00000015;
            }
        }
    }
}
