@import "../../styles/styles";

.home-page-wrapper {
    @apply flex
    flex-col
    justify-end
    items-center
    max-w-[350px]
    mx-auto
    w-full
    h-full;
}

.input-container {
    @apply flex
    flex-col
    justify-end
    items-center
    w-full
    max-w-[350px]
    gap-y-[15px];
}

.property-field {
    @apply flex
    flex-row
    justify-between
    items-center
    px-5
    w-full;

    .category,
    .reminder {
        @apply flex
        flex-row
        justify-start
        items-center
        gap-x-2;

        svg {
            @apply h-[30px] cursor-pointer;
        }

        p {
            @apply text-sm sm:text-base 
            font-sans;
        }
    }
}

.textfield {
    background-color: $secondary-color;

    @include shadowed-box();

    @apply flex
    w-full
    justify-start
    items-start
    rounded-[10px]
    h-[150px]
    px-5 py-[10px];

    textarea {
        @apply w-full
        placeholder:text-[#0000006b]
        bg-transparent
        font-sans
        text-base
        font-light
        resize-none
        outline-none;
    }
}

.buttons-container {
    @apply flex
    flex-row
    justify-between
    items-center
    px-5
    w-full;

    svg {
        @apply h-[50px] 
        cursor-pointer;

        &:hover {
            g {
                fill: #00000015;
            }
        }
    }
}

.voice-buttons-container {
    @apply flex
    flex-row
    justify-start
    items-center
    gap-x-2;

    svg {
        @apply h-[50px] 
        cursor-pointer;

        &:hover {
            g {
                fill: #00000015;
            }
        }
    }
}

.just-added-container {
    @apply flex
    flex-col
    justify-start
    items-center
    mb-auto
    overflow-hidden
    w-full;
}

.title-box {
    background-color: $primary-btn-color;

    @include shadowed-box();

    @apply mb-2
    rounded-[10px]
    py-2
    px-9;

    p {
        @apply text-base 
        font-semibold 
        mb-0
        font-sans;
    }
}

.note-container {
    @apply flex
    flex-col
    justify-start
    items-center
    overflow-scroll
    mb-3
    pb-3
    w-full
    gap-y-6;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.note-container::-webkit-scrollbar {
    display: none;
}

.note-card {
    background-color: $secondary-color;

    @include shadowed-box();

    @apply flex
    rounded-[10px]
    w-[99%]
    py-3 px-6;

    p {
        @apply text-base 
        font-sans 
        font-normal;
    }
}

.voice-note-card {
    background-color: $secondary-color;

    @include shadowed-box();

    @apply flex
    flex-col
    gap-y-3
    rounded-[10px]
    w-[99%]
    py-3 px-6;

    p {
        @apply text-base 
        font-sans 
        font-normal;
    }

    p.lap {
        @apply font-light;
    }
}
