@import "../../../src/styles/styles";

.delete-container {
    background-color: $secondary-color;

    @include shadowed-box();
    @include rounded();

    @apply absolute
    top-[calc(50%-165px)]
    left-0
    right-0
    mx-auto
    z-50
    flex
    flex-col
    justify-between
    items-center
    w-[calc(100%-40px)]
    sm:w-full
    max-w-[390px]
    sm:h-full
    max-h-[260px]
    p-6;

    p {
        @apply text-sm 
        font-sans
        font-light
        text-center;
    }
}

.buttons {
    @apply flex
    flex-row
    justify-between
    items-center
    w-full;
}

.confirm-button {
    background-color: $primary-color;
    color: $gray-text-color;

    @include shadowed-box();
    @include rounded();

    @apply py-[13px]
    px-[20px]
    text-base
    font-sans
    font-semibold
    mt-[14px]
    cursor-pointer
    hover:text-white;
}

.cancel-button {
    background-color: $gray-color;
    color: $gray-text-color;

    @include shadowed-box();
    @include rounded();

    @apply py-[13px]
    px-[20px]
    text-base
    font-sans
    font-semibold
    mt-[14px]
    cursor-pointer
    hover:text-white;
}
